* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: .2s;
  user-select: none;
}

:root {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #D3D2D8;
}

html, body {
  overflow-x: hidden;
}

body {
  background: #111111;
  max-width: 100vw;
  overflow-x: hidden!important;
  position: relative;
}

.logo img{
  height: 2.6rem;
  cursor: pointer;

  &:hover {
    animation: tada;
    animation-duration: 1.5s;
  }
}

.title {
  font-family: "Gentium Plus", serif;
  font-weight: 700;
  font-style: normal;
}

section {

  padding: 2.31rem 7.38rem;
  font-family: 'Inter', sans-serif;

  @media screen and (max-width: 1028px) {
    padding: 4rem 2.31rem;
  }

  h2 {
    font-family: "Gentium Plus", serif;
    font-size: 2.39719rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #ffffff;
  }

  p {
    color: #D3D2D8;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 175%;
  }
}

.button {
  display: flex;
  padding: 0.5rem 1.125rem;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  align-items: center;
  gap: 0.625rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0;
  color: black;
  border: 1px solid white;
  background: white;
  width: fit-content;

  &:hover {
      background: none;
      color: white;
      cursor: pointer;
  }

  &.outline {
      background: none;
      border: 1px solid white;
      color: white;

      &:hover {
          background: white;
          color: black;
      }
  }
}

.grained {
  z-index: 1000;
  background: url('./imgs/grained.jpg');
  mix-blend-mode: multiply;
  height: 300%;
  width: 300%;
  opacity: 1;
  top:-100%;
  pointer-events: none;
  position: fixed;
  animation: grain 8s steps(10) infinite;
  opacity: 0.2;

  @media screen and (max-width: 1028px) {
    display: none;
  }
}

.cursor {
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  mix-blend-mode: difference;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
  z-index: 99999;
}

.cursor::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  border: 8px solid #7e7e7e;
  mix-blend-mode: difference;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .5s infinite alternate;
}

.expand {
  animation: cursorAnim3 .5s forwards;
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.8);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.6);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(2);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

@keyframes grain {
  0% { -webkit-transform: translate(-10%, 10%); -moz-transform: translate(-10%, 10%); transform: translate(-10%, 10%) }
  10% { -webkit-transform: translate(-25%, 0%); -moz-transform: translate(-25%, 0%); transform: translate(-25%, 0%) }
  20% { -webkit-transform: translate(-30%, 10%); -moz-transform: translate(-30%, 10%); transform: translate(-30%, 10%) }
  30% { -webkit-transform: translate(-30%, 30%); -moz-transform: translate(-30%, 30%); transform: translate(-30%, 30%) }
  40% { -webkit-transform: translate(); -moz-transform: translate(); transform: translate() }
  50% { -webkit-transform: translate(-15%, 10%); -moz-transform: translate(-15%, 10%); transform: translate(-15%, 10%) }
  60% { -webkit-transform: translate(-20%, 20%); -moz-transform: translate(-20%, 20%); transform: translate(-20%, 20%) }
  70% { -webkit-transform: translate(-5%, 20%); -moz-transform: translate(-5%, 20%); transform: translate(-5%, 20%) }
  80% { -webkit-transform: translate(-25%, 5%); -moz-transform: translate(-25%, 5%); transform: translate(-25%, 5%) }
  90% { -webkit-transform: translate(-30%, 25%); -moz-transform: translate(-30%, 25%); transform: translate(-30%, 25%) }
  100% { -webkit-transform: translate(-10%, 10%); -moz-transform: translate(-10%, 10%); transform: translate(-10%, 10%) }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}