* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: .2s;
}

:root {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #D3D2D8;
}

body {
  background: #0F0F0F;
}

.title {
  font-family: "Gentium Plus", serif;
  font-weight: 700;
  font-style: normal;
}

section {

  padding: 2.31rem 7.38rem;
  font-family: 'Inter', sans-serif;

  h2 {
    font-family: "Gentium Plus", serif;
    font-size: 2.39719rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #ffffff;
  }

  p {
    color: #D3D2D8;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 175%;
  }
}